<div class="row" *ngIf="course$ | async as course">
  <div class="col-md-8">
    <h2>{{ course.title }}</h2>

    <h3>Kurs-Inhalt</h3>
    <p *ngFor="let content of course.content">{{ content }}</p>

    <div *ngIf="course.target">
      <h3>Kurs-Ziele</h3>
      <p>{{ course.target }}</p>
    </div>

    <div class="jumbotron">
      <div class="row">
        <div class="col-md-3">
          <span class="fa fa-user" aria-hidden="true"></span><br />
          <span>{{ course.teacher }}</span>
        </div>
        <div class="col-md-5">
          <span class="fa fa-calendar" aria-hidden="true"></span><br />
          <span>{{ course.date }}</span>
        </div>
        <div class="col-md-4">
          <span class="fa fa-building" aria-hidden="true"></span><br />
          <span>bbv Software Services AG<br />Blumenrain 10<br />6002 Luzern</span>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" (click)="goBack()">Go Back</button>
  </div>
</div>
