<h2>Entry Detail</h2>

<div class="row">
  <div class="col-md-6">
    <form [formGroup]="timeForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dateInput">Datum</label>
        <input type="date" class="form-control" id="dateInput" formControlName="date" />
      </div>
      <div class="form-group">
        <label for="projectSelect">Projekt</label>
        <select class="form-control" id="projectSelect" formControlName="project" (change)="onSelect($event.target.value)">
          <option *ngFor="let project of projects" value="{{ project.name }}">{{ project.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="costTypeSelect">Kostengruppe</label>
        <select class="form-control" id="costTypeSelect" formControlName="costType">
          <option *ngFor="let costType of costTypes">{{ costType.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="timeInput">Zeit in Minuten</label>
        <input type="number" class="form-control" id="timeInput" formControlName="amount" />
      </div>
      <div class="form-group">
        <label for="commentInput">Kommentar</label>
        <textarea type="text" class="form-control" rows="4" id="commentInput" formControlName="comment"></textarea>
      </div>

      <button type="submit" [disabled]="timeForm.invalid" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
